*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  background-size: cover;
  color: white;
  font-size: 20px;
}


.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(1.63rem);
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: #82d7f8;
}

.co {
  color: rgb(0, 255, 60);
}

.red {
  color: red;
}

.purple {
  color: black;
}

* {
  box-sizing: content-box;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #f80b0b;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(81, 37, 201);
  color: rgb(243, 237, 237);
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
}



.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.item:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.item__content {
  background-color: rgb(180, 70, 81);
  color: #f3f3f3;
  text-align: center;
  padding: 7rem;
  border-radius: 7px;
}

.item > p {
  text-align: center;
}

.left {
  transform-origin: left center;
  transform: translateX(-50%);
}

.right {
  transform-origin: right center;
  transform: translateX(50%);
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}
