---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Intro">
    
<body>
    <div>
        Hi there. As per introduction, you all by now should know that m name is Kyle Celestine.<br> I was born and raised in Lafayette,Louisiana.I am currently of the age of 29 but will be turning 30 this year. I was born on November 16th 1993 at University medical hospital also residing inn Lafayette. 
        I have one sister and 2 brothers.
         My father is Vincent(Ed) <br> and mother Pamela Celestine. Since a young age i moved around alot so i have ventured into different cities in the <br> surrounding areas.<br>
        <br> I gradutated in 2012 and is an alumni to Acadiana High School. All my life i enjoyed a variety of things that<br> kept me grounded, at peace, and out of trouble. They were: playing sports, watching anime, drawing, and marvel comics/movies. 
        <br>As the years went by and many jobs come and gone, i have found my self working for Amazon and a newer facility in Carencro,Louisiana.

    </div>


</body>

</Layout>