---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Intro">
    <img src="https://th.bing.com/th/id/OIP.JkyOpToNKftP15k5dxJvIAHaHa?rs=1&pid=ImgDetMain">
<body>
    <div>
        
        As you enter into this world of tranquility, 
        hold on tight because you're in for a treat! Welcome my page! <br>One in which belongs to the unknown entity of the most charismatic, the unpredictable, self-proclaimed <br>King of the Ethers, Kyle Celestine. Yep if you're wondering thats me. The prodical son.<br> <br>Explore the many 
        possibilities of oneself while also stepping into a new universe that hasn't been seen before.<br> I strongly encourage
         everyone to hold on tight because what you're about to experience<br> is like no other and might challenge everthing you were taughg growing up. <br> As long as you come with an open mind, you'll find that it wont be any difficult<br> infromation that will reside 
         amongst this unique atmosphere. Hope You're ready!!!


    </div>


</body>

</Layout>