---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Intro">
    <img src="https://th.bing.com/th/id/OIP.SID4hNx76X4u8G0JYGphOgHaHa?rs=1&pid=ImgDetMain">
<body>
    <div>
        
        In July of this year, I made the decision to expand my horizon and learn <br> something i have never thought I'd be apart of. I've always enjoyed anything dealing with computers whether it was software,
         <br>programs,websites,etc. Now i get the opportunity to learn many things from software development. Such as, <br> creating webpages, embeding 
         links to your creations, and creating forms.I am very new to this so it can be <br>overwhelming, but i'm willing to putting the effort into learning the new skills that will launch me into a new career.
         amongst this unique atmosphere. Hope You're ready!!!


    </div>


</body>

</Layout>